.container {
  padding: 20px 20px 0px 20px; 
  text-align: left; 
  page-break-after: always;
}
.ref {
  height: calc(100vh - 255px);
  overflow: auto; 
  padding-bottom: 20px;
}
.address {
  line-height: .7em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
}
.description {
  font-weight: bold;
  color: #585858;
}
.diagnosis {
  font-weight: bold;
}
.doctors {
  padding-top: 0px; 
  text-align: center;
  margin-bottom: 0px;
}
.alignDate {
  text-align: right;
}
.closing {
  margin-top: 50px;
}
.footer {
  margin-top: 190px;
}
@media print {
  #noPrint {
    visibility: hidden;
  }
}